* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #02040f;
  --secondary-color: #5aa9e6;
  --text-color: #f9f9f9;
  --chat-box-color: #191d32;
}

body {
  height: 100dvh;
  width: 100%;
  background-color: var(--primary-color);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
}

.heading-text {
  color: var(--secondary-color);
  height: 64px;
  font-size: 32px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--chat-box-color);
  flex-shrink: 0;
}

main {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.chat-section-container {
  height: 70dvh;
  width: 100%;
  padding: 32px;
  overflow: hidden;
  flex-shrink: 0;
  overflow-y: auto;
}

.chat-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  padding-bottom: 16px;
}

.ai-chat-section,
.user-chat-section {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  max-width: 80%;
}

.ai-chat-section {
  align-self: flex-start;
}

.ai-image {
  width: 40px;
  height: 40px;
}

.ai-chat-text {
  background-color: var(--chat-box-color);
  color: var(--text-color);
  padding: 12px 16px;
  border-radius: 12px 12px 12px 0;
}

.user-chat-section {
  align-self: flex-end;
  flex-direction: row-reverse;
}

.user-image {
  width: 40px;
  height: 40px;
}

.user-chat-text {
  background-color: var(--chat-box-color);
  color: var(--text-color);
  padding: 12px 16px;
  border-radius: 12px 12px 0 12px;
}

.prompt-section-container {
  margin-top: 5dvh;
  width: 100%;
  border-top: 2px solid var(--chat-box-color);
  height: 25dvh;
  display: flex;
  align-items: center;
}

.prompt-section {
  width: 100%;
  padding: 0 32px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 32px;
}

.user-input-image,
.send-button {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  background-color: var(--chat-box-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-size: 18px;
  cursor: pointer;
}

#input-image {
  display: none;
}

#input-text {
  width: 100%;
  height: 64px;
  background-color: var(--chat-box-color);
  border: none;
  outline: none;
  border-radius: 12px;
  padding: 12px;
  font-size: 18px;
  color: var(--text-color);
}

@media (width <= 480px) {
  .heading-text {
    font-size: 24px;
    height: 42px;
  }

  .chat-section-container {
    padding: 18px;
  }

  .ai-chat-text,
  .user-chat-text {
    padding: 8px;
  }

  .user-input-image,
  .send-button {
    height: 32px;
    width: 32px;
  }

  #input-text {
    height: 32px;
  }
}
